<div class="categories">
<h3>Categories management</h3>
  <% @categories.each do |category| %>
    <span >
      <%= link_to category.name, "#",
        class: "category"%>
      <p style="text-decoration: underline;">
       [
       &nbsp;&nbsp;
        <%= link_to "-Edit-",
        edit_category_path(category) %>
        &nbsp;&nbsp;
       |
       &nbsp;&nbsp;
        <%= link_to "-Destroy-",
        category_path(category.id),
        method: :delete,
        remote: :true,
        data: { confirm: 'Are you sure?' }
        %>
       &nbsp;&nbsp;
       |
        &nbsp;&nbsp;
        <%= link_to "-New-",
        new_category_path %>
        &nbsp;&nbsp;
       ]
      </p>
    <hr>
    </span>
  <% end %>
</div>
