<div class="side_nav">
  <div class="categories">
  <h3>Categories</h3>
    <% @categories.each do |category| %>
      <span class="category">
        <%= link_to category.name, "#" %>
      </span>
    <% end %>
        <span class="category">
        <%= link_to "More categories", "#" %>
      </span>
  </div>

  <div class="categories">
  <h3>Categories tags</h3>
    <% @categories.each do |category| %>
      <span class="category">
        <%= link_to category.name, "#" %>
      </span>
    <% end %>
        <span class="category">
        <%= link_to "More categories", "#" %>
      </span>
  </div>
</div>

  <!-- <h3>Categories</h3> -->

<div class="product_preview">
  <div class="product">
    sdfsdf
  </div>

  <div class="product">
    sdfdsf
  </div>
    <div class="product">
    sdfsdf
  </div>

  <div class="product">
    sdfdsf
  </div>
    <div class="product">
    sdfsdf
  </div>

  <div class="product">
    sdfdsf
  </div>
    <div class="product">
    sdfsdf
  </div>

  <div class="product">
    sdfdsf
  </div>
    <div class="product">
    sdfsdf
  </div>

  <div class="product">
    sdfdsf
  </div>
</div>