<nav>
  <div class="top_nav">
    <%= link_to "Main", categories_path %>
    <a href="#">Payment</a>
    <a href="#">Delivered</a>
    <a href="#">About shop</a>
    <%= link_to "Admin", admins_path %>
  </div>
</nav>